<div class="form-group">
	<label>Field</label>
	<input type="text" ng-model="vis.params.field" class="form-control" placeholder="filed1,#filed2">
	<label>Color</label>
	<input type="text" ng-model="vis.params.color" class="form-control" placeholder="#fff,#01fd10">
	<label>SymbolSize</label>
	<input type="text" ng-model="vis.params.symbolSize" class="form-control" placeholder="100">
</div>

<div class="form-group">
	<label>Bmap text</label>
	<input type="text" ng-model="vis.params.bmapText" class="form-control" placeholder="100">
</div>
<div class="form-group">
	<label>Bmap subtext</label>
	<input type="text" ng-model="vis.params.bmapSubText" class="form-control" placeholder="100">
</div>